#nav {
  @apply w-full align-middle fixed top-0 z-30;
  @apply bg-gray-900 text-white;
}
.home-btn {
  @apply inline-block font-bold mx-1 mt-1 text-2xl;
  @apply lg:text-2xl lg:mx-3 lg:mt-0 lg:mb-1 lg:px-2 lg:py-1;
  @apply rounded-lg hover:bg-gray-900;
}
.home-btn > img {
  @apply inline-block w-9 h-9 mb-1;
  @apply lg:w-8 lg:h-8 lg:-mt-1 lg:mb-0 pr-0.5;
}
.home-btn > div {
  @apply inline-block lg:h-8;
}

/* menu icon */
.menu-icon {
  @apply w-1/12 float-right inline-block cursor-pointer mt-2.5 mr-1.5;
  @apply lg:w-8 lg:mt-2 lg:mr-2;
}
.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
  @apply bg-white;
  margin-top: 0.25rem;
  height: 0.2rem;
  width: 1.6rem;
  transition: 0.7s;
}
.active .bar1 {
  -webkit-transform: rotate(45deg) translate(0.4rem, 0.3rem);
  transform: rotate(45deg) translate(0.4rem, 0.28rem);
}
.active .bar2 {
  @apply opacity-0;
}
.active .bar3 {
  -webkit-transform: rotate(45deg) translate(0.4rem, -0.25rem);
  transform: rotate(-45deg) translate(0.4rem, -0.25rem);
}
/* menu icon */

/* dropdown menu */
.dropdown-menu {
  @apply inline-block flex float-right text-sm z-30;
  @apply focus:outline-none;
  @apply bg-gray-900 w-full;
  @apply lg:w-2/12 lg:absolute lg:right-1.5;
  @apply lg:rounded-lg lg:bg-white;

  /* animate */
  @apply transition-all duration-700 ease-out;
  @apply h-0 overflow-hidden origin-top scale-y-0;
}
.dropdown-menu.active {
  @apply px-1 py-0.5;
  @apply border-2 border-transparent border-white;
  @apply h-auto scale-75;
  @apply lg:shadow-lg lg:ring-1 lg:ring-black lg:ring-opacity-20;
}
.dropdown-menu > div {
  @apply w-full px-1 py-2 space-y-1;
}
.dropdown-menu a {
  @apply block w-full px-3 py-2 rounded-md text-base font-medium;
  @apply lg:text-gray-800;
  @apply hover:bg-gray-100 hover:text-gray-700;
}
/* dropdown menu */